.env
target
Cargo.lock
.sqlx
# Ignore all files in uploads and its subdirectories
#uploads/*
#!uploads/.gitkeep
# Ignore all files in uploads/thumbnails and its subdirectories
#uploads/thumbnails/*
#!uploads/thumbnails/.gitkeep